.full-page-structure {
  display: flex;
}

.right-side-div {
  flex: 1;
}

.center-div {
  flex: 5;
}

.left-side-div {
  flex: 1;
}

.text-styling{
    font-family: "Roboto", sans-serif;
}

.numbered-heading {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 2em;
    counter-reset: section;
  }

  .numbered-heading:before {
    position: relative;
    counter-increment: section;
    content: '0' counter(section) '.';
    margin-right: 10px;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
  }

  .numbered-heading:after {
    content: '';
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: rgb(218, 216, 216);
  }
