.blog-intro {
  margin: 0;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.main-cards {
  flex: 0 0 320px;
  margin-bottom: 15px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  padding: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5px;
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.my-card-title {
  font-weight: 700;
  font-size: 24px;
  composes: text-truncate;
}

.my-card-text {
  composes: text-truncate;
  color: rgb(0, 0, 0);
}

.topics {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  font-size: 14px;
  color: rgb(107, 107, 107);
}

.date-posted {
  margin: 0 0 0.5rem;
  color: #999;
  font-size: 0.75rem;
}

.button-container{
    display: flex;
    justify-content: center;
}

.blog-subheader:hover{
    color: var(--standard-color);
}