
/*TODO change this topbar to flex and not position absolute */
.top {
  width: 100%;
  height: 90px;
  background-color: white;
  top: 0;
  display: flex;
  position: sticky;
  align-items: center;
  font-family: "Roboto", sans-serif;
  z-index: 10;
}

.topLeft {
  flex: 4;
}

.topRight {
  flex: 3;
}

.topList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 45px;
    padding: 0;
    list-style: none;
}

.topListItems{
    margin-right: 40px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;

    
}

.topListItemsResume {
    margin-right: 40px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    box-sizing: border-box;
    padding: 8px;
    border: solid black;
    border-radius: 10%;
}

.topListItemsResume:hover {
  background-color: rgb(59, 96, 165);
  outline: none;
}

.top-list-resume-a-tag{
  text-decoration: none;
  color: black;
}
