
.card {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.main-cards {
  flex: 0 0 320px;
  margin-bottom: 15px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
